.blocktext
{ 
margin-left: auto;
margin-right: auto;
max-width:1024px;
}
.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
  background-repeat: no-repeat;
  background-position: top center;
}
.heading {
  margin: 10 0 16px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 48px;
  line-height: 96px;
  font-weight: 400;
  text-align: left;
}
.subheading {
  width: 400px;
  margin: 0 0 10px 0;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}
.page-header
 {
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: right;
}
.summary {
  width: 500px;
  margin-left: 3%;
  padding: 0px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 200;
}
.skills-list {
  font-size: 18px;
  line-height: 24px;
  font-weight: 200;
}